<h1>All our flats</h1>

<div class="d-flex row gap-3">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p><%= flat.address %></p>
        <p><%= flat.number_of_guests %>  |  <strong>€</strong><%= flat.price_per_night %></p>
        <%= link_to 'More info', flat_path(flat), class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>
